/*media query*/
@media all and (max-width: 950px) {

        .main-body .box {
            width: 700px;
             
        }

  }
  @media all and (max-width: 820px) {

    .main-body .box {
        width: 500px;
         
    }

}
@media all and (max-width: 600px) {
    .header{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .header .logo-container{
        display:flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    .main-body .box {
        width:300px;
         
    }

}